### Dotscience settings

Here we tell dotscience which dots are used for input and output, as well as labels which can later be queried.

In [12]:
import dotscience as ds
ds.label('operation','data_wrangling')

'data_wrangling'

## Data wrangling - combining house price data from two real estate agents

In [13]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
%matplotlib inline

We are using a housing price dataset sourced from Bay Area Home Sales Database and Zillow. This dataset was based on the homes sold between January 2013 and December 2015.

In [14]:
inputs = [pd.read_csv(ds.input('bay_area_zillow_agent1.csv')), pd.read_csv(ds.input('bay_area_zillow_agent2.csv'))]
df = pd.concat(f for f in inputs)

In [15]:
# randomise my dataframe rows to remove any ordering in the data
df = df.sample(frac=1, random_state=1).reset_index(drop=True)

In [16]:
df.describe()

,Unnamed: 0,bathrooms,bedrooms,finishedsqft,lastsoldprice,latitude,longitude,totalrooms,yearbuilt,zestimate,zindexvalue,zipcode,zpid
count,11330.000000,11330.000000,11330.000000,11330.000000,1.133000e+04,11330.000000,11330.000000,11330.000000,11330.000000,1.133000e+04,1.133000e+04,11330.000000,1.133000e+04
mean,9171.729214,1.980229,2.614475,1585.420918,1.263928e+06,37.759711,-122.436518,6.111562,1948.498147,1.565695e+06,1.320205e+06,94116.912004,3.689973e+07
std,4921.941074,1.047358,1.299457,921.978245,1.042079e+06,0.025578,0.030743,12.125819,37.911196,1.229417e+06,5.848170e+05,9.400877,7.800741e+07
min,2.000000,0.500000,0.000000,1.000000,5.350000e+02,37.708170,-122.510726,1.000000,1860.000000,4.323850e+05,6.881000e+05,94102.000000,1.506329e+07
25%,5039.750000,1.000000,2.000000,1019.000000,7.292500e+05,37.739286,-122.455157,4.000000,1916.000000,9.052375e+05,9.829000e+05,94110.000000,1.510847e+07
50%,9198.500000,2.000000,2.000000,1362.000000,9.900000e+05,37.760513,-122.432510,5.000000,1940.000000,1.230758e+06,1.211900e+06,94115.000000,1.515697e+07
75%,13374.750000,2.000000,3.000000,1876.000000,1.450000e+06,37.781386,-122.413359,7.000000,1986.000000,1.731170e+06,1.480400e+06,94123.000000,5.970040e+07
max,17632.000000,14.000000,20.000000,27275.000000,2.388900e+07,37.806083,-122.381201,1264.000000,2016.000000,1.553325e+07,5.333500e+06,94158.000000,2.146999e+09

In [17]:
# drop unneeded columns
df.drop(df.columns[[0, 2, 3, 15, 17, 18]], axis=1, inplace=True)

In [18]:
# TODO: add some NaN lines to one of the CSVs, spot them in the Python, and then delete them

In [19]:
# check none of our data is null or NaN
df.isnull().any()

address          False
bathrooms        False
bedrooms         False
finishedsqft     False
lastsolddate     False
lastsoldprice    False
latitude         False
longitude        False
neighborhood     False
totalrooms       False
usecode          False
yearbuilt        False
zindexvalue      False
dtype: bool

Looks like the data is clean, let's save it to `combined-houses` for our data science team to use!

In [20]:
df.to_csv(ds.output('combined-filtered-housing-data.csv'))

---
### Dotscience parameters & summary

For now, we just write some dummy summary statistic to trigger dotscience to version the data wrangling job.

In [21]:
len(df)

11330

In [22]:
ds.summary('rows_processed', len(df))
ds.publish()

[[DOTSCIENCE-RUN:70f87a63-69b4-491d-a2e0-19fe83391af9]]{
    "end": "20181207T162253.214849",
    "input": [
        "bay_area_zillow_agent1.csv",
        "bay_area_zillow_agent2.csv"
    ],
    "labels": {
        "operation": "data_wrangling"
    },
    "output": [
        "combined-filtered-housing-data.csv"
    ],
    "parameters": {},
    "start": "20181207T162044.604199",
    "summary": {
        "rows_processed": "11330"
    },
    "version": "1"
}[[/DOTSCIENCE-RUN:70f87a63-69b4-491d-a2e0-19fe83391af9]]